<html>
  <head>
    <meta charset="utf-8" />
    <title>{Astro.props.frontmatter.title}</title>
    <link rel="stylesheet" href="/style/eacs.css" />
  </head>
  <body {...Astro.props.frontmatter.body_props}>
    <slot />
  </body>
</html>
